h1{
    color :red;
}
#home-intro{
    text-align:center;
    /*border: 3px;
    border-color:black;
    border-style:solid;*/
    border:3px solid blue;
}
#home-intro:hover{
    background-color: antiquewhite;
}
#p2{
    color:aqua;
}